
segmentCount: ${REAPER_SEGMENT_COUNT}
repairParallelism: ${REAPER_REPAIR_PARALELLISM}
repairIntensity: ${REAPER_REPAIR_INTENSITY}
scheduleDaysBetween: ${REAPER_SCHEDULE_DAYS_BETWEEN}
repairRunThreadCount: ${REAPER_REPAIR_RUN_THREADS}
hangingRepairTimeoutMins: ${REAPER_HANING_REPAIR_TIMEOUT_MINS}
storageType: ${REAPER_STORAGE_TYPE}
enableCrossOrigin: ${REAPER_ENABLE_CORS}
jmxConnectionTimeoutInSeconds: ${REAPER_JMX_CONNECTION_TIMEOUT_IN_SECONDS}
incrementalRepair: ${REAPER_INCREMENTAL_REPAIR}
enableDynamicSeedList: ${REAPER_ENABLE_DYNAMIC_SEEDS}
repairManagerSchedulingIntervalSeconds: ${REAPER_REPAIR_MANAGER_SCHEDULING_INTERVAL_SECONDS}

# datacenterAvailability has three possible values: ALL | LOCAL | EACH
# the correct value to use depends on whether jmx ports to C* nodes in remote datacenters are accessible
# If the reaper has access to all node jmx ports, across all datacenters, then configure to ALL.
# If jmx access is only available to nodes in the same datacenter as reaper in running in, then configure to LOCAL.
# If there's a reaper instance running in every datacenter, and it's important that nodes under duress are not involved in repairs,
#    then configure to EACH.
#
# The default is ALL
datacenterAvailability: ${REAPER_DATACENTER_AVAILABILITY}


autoScheduling:
  enabled: ${REAPER_AUTO_SCHEDULE_ENABLED}
  initialDelayPeriod: ${REAPER_AUTO_SCHEDULE_INITIAL_DELAY_PERIOD}
  periodBetweenPolls: ${REAPER_AUTO_SCHEDULE_PERIOD_BETWEEN_POLLS}
  timeBeforeFirstSchedule: ${REAPER_AUTO_SCHEDULE_TIME_BETWEEN_FIRST_SCHEDULE}
  scheduleSpreadPeriod: ${REAPER_AUTO_SCHEDULE_TIME_BETWEEN_FIRST_SCHEDULE}
  excludedKeyspaces: ${REAPER_AUTO_SCHEDULE_EXCLUDED_KEYSPACES}

jmxPorts: ${REAPER_JMX_PORTS}

jmxAuth:
  username: ${REAPER_JMX_USERNAME}
  password: ${REAPER_JMX_PASSWORD}

logging:
  level: ${REAPER_LOGGING_ROOT_LEVEL}
  loggers: ${REAPER_LOGGERS}
  appenders:
    - type: console
      logFormat: ${REAPER_LOGGING_FORMAT}

server:
  type: default
  applicationConnectors:
    - type: http
      port: ${REAPER_APP_PORT}
      bindHost: ${REAPER_APP_BIND_HOST}
  adminConnectors:
    - type: http
      port: ${REAPER_ADMIN_PORT}
      bindHost: ${REAPER_ADMIN_BIND_HOST}
  requestLog:
    appenders: []

