# editor files
*.iml
*~
.idea/
.DS_Store

# docker files
docker/production-reaper/*.jar
docker/production-reaper/*.yaml
docker-compose.yml

# persistent storage
data/

# build paths
target/
*.deb
*.jar
*.rpm
