# Build products and artifacts
.m2-repository/
pom.xml.versionsBackup
target/
dependency-reduced-pom.xml

# Stuff from various IDE's and editors
*.iml
*~
.idea/*

# Mac OS X Finder
.DS_Store

.classpath
bin/
.settings/
.project
build/
*.deb

# frontend dev stuffs.
reaper_ui/bower_components/
reaper_ui/node_modules/

