# Build products and artifacts
.m2-repository/
pom.xml.versionsBackup
target/
dependency-reduced-pom.xml

# Stuff from various IDE's and editors
*.iml
*~
.idea/*

# Mac OS X Finder
.DS_Store

.classpath
bin/
.settings/
.project
build/
docker/production-reaper/*.yaml
*.deb
*.jar
*.rpm
