# Build products and artifacts
.m2-repository/
pom.xml.versionsBackup
target/
dependency-reduced-pom.xml

# Stuff from various IDE's and editors
*.iml
*~
.idea/*
*.log
*.log.gz

# Mac OS X Finder
.DS_Store

.classpath
.settings/
.project
packages/
src/packaging/build/
*.deb
*.rpm

# frontend dev stuff
src/ui/bower_components
src/ui/node_modules
src/ui/package-lock.json

# Docker Compose persistent storage directory
src/packaging/docker
