#!/usr/bin/make -f

DEB_DH_INSTALL_SOURCEDIR=debian/tmp
DEB_DH_INSTALLINIT_ARGS=-n

MVN = mvn -B -U -e -Dmaven.repo.local=$$PWD/.m2-repository
SUREFIRE = -Dsurefire.useFile=false

%:
	dh $@

build:
	dh build --until dh_auto_build
	$(MVN) $(SUREFIRE) package
	dh build --remaining

binary:
	dh binary --until dh_fixperms
	dh binary --remaining

clean:
	dh clean
	$(MVN) clean
