Source: cassandra-reaper
Section: non-free/net
Priority: extra
Maintainer: Bjorn Hegerfors <bj0rn@spotify.com>
Uploaders: Hannu Varjoranta <hannu.varjoranta@iki.fi>,
           Jimmy Mardell <yarin@spotify.com>,
           Radovan Zvoncek <zvo@spotify.com>
Build-Depends: debhelper (>= 8), default-jdk (>= 1.8), maven
Standards-Version: 3.7.2

Package: cassandra-reaper
Architecture: all
Depends: default-jre (>= 1.8)
Description: Software to run automated (anti-entropy) repairs of Cassandra cluster data

Package: cassandra-reaper-cli
Architecture: all
Depends: python-requests
Description: Python based CLI tool for calling the Reaper service
