#!/usr/bin/make -f

DEB_DH_INSTALL_SOURCEDIR=debian/tmp
DEB_DH_INSTALLINIT_ARGS=-n

MVN = mvn -B -U -e -Dmaven.repo.local=$$PWD/.m2-repository
SUREFIRE = -Dsurefire.useFile=false

%:
	dh $@

# This is just a java application so we only need to call maven.  Doing this
# because there is a Makefile in this project, however it is actually calling
# the debian programs to build it, so we get into a loop if we go and use it to
# try to build here.
override_dh_auto_build:
	$(MVN) $(SUREFIRE) clean package

override_dh_auto_test:

override_dh_auto_install:

clean:
	dh_clean
	$(MVN) clean
